<div *ngIf="user && courses">
  <div class="row my-page-head">
    <div class="col-md-8 col-sm-6">
      <div class="personal-info">
        <h1>
          {{user.firstName}}<br>{{user.lastName}}
        </h1>
      </div>
    </div>
    <div class="col-md-4  col-sm-6 picture">
      <img *ngIf=" user.url!=null; else standartCourseImg" src="{{user.url}}" class="img-circle"
           style="margin-bottom: 70px;">
      <ng-template #standartCourseImg>
        <img src="../../../assets/img/noavatar.png" class="img-circle" style="margin-bottom: 70px;">
      </ng-template>
      <div class="new-course-button">
        <button type="button"
                class="btn btn-primary"
                routerLink="/courses/all">
          Join to courses
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <h4>Course list</h4>
    <div class="row courses">
      <div class="col-md-12 my-courses-list" *ngFor="let course of courses">
        <div class="course">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              <a routerLink="/course/{{course.id}}"> <img *ngIf=" course.url; else img" src="{{course.url}}"
                                                          class="course-image" width="275"
                                                          height="155">
                <ng-template #img>
                  <img src="../../../assets/img/notebook-1587525_960_720.jpg" routerLink="/course/{{course.id}}"
                       class="course-image" width="275"
                       height="155">
                </ng-template>
              </a>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
              <div class="course-title">
                <a routerLink="/course/{{course.id}}">
                  {{course.title}}
                </a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="course-date">
                <span class="fa fa-calendar"></span>
                <span>
                      {{course.startDate|date:'mediumDate'}} - {{course.endDate|date:'mediumDate'}}
                    </span>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a routerLink="/course/{{course.id}}" class="btn btn-primary">
                <span class="fa fa-graduation-cap"></span> Go to course
              </a>
              <span *ngIf="course.finished; else notFinished">
                Course finished
              </span>
              <ng-template #notFinished>
                Course is not finished
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div><!--/row-->
  </div><!--container-->
</div>
