<div class="wrapper">
  <div class="content">
    <div class="form-test border-bottom box-shadow">
      <form class="container pt-2" [formGroup]="testForm" (ngSubmit)="completeTest()">
      <div formArrayName="questions">
        <div [formGroupName]="i" *ngFor="let question of testForm.get('questions').controls; index as i">
          <div class="d-flex flex-column p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <div class="question">
              <h4>
              {{question.value.question}}
              </h4>
            </div>
            <div formArrayName="answers" style="margin-left: 20px">
              <div [formGroupName]="a" *ngFor="let answer of question.get('answers').controls; index as a">

                  <label>
                    <input type="radio" class="form-check-input" formControlName="correctAnswer" [value]="true"
                           (change)="onSelect(question,answer)"
                           title="correctAnswer">
                    <span>{{answer.value.answer}}</span>
                  </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="submit-form">
        <button [disabled]="loading"
                type="submit"
                class="btn btn-primary">
          Complete
        </button>
        <img *ngIf="loading" src="../../../assets/img/loading.gif">
        <button class="btn btn-secondary" routerLink="../">Cancel</button>
      </div>
    </form>
    </div>
  </div>
</div>
