/* You can add global styles to this file, and also import other style files */
* {
  margin: 0
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -60px;
}
.content {
  flex: 1 0 auto;
  margin-right: 5em;
  margin-left: 5em;
}
.fa{
  height: 16px;
  width: 16px;
}

.wrapper:after {
  content: "";
  display: block;
}

.footers, .wrapper:after {
  height: 60px;
}
.header{
   flex: 0 0 auto;
 }
.navbar{
  background:#696969;
  position: unset;
}

a {
  color: #333;
}

a:hover {
  color: #428aac;
}
.nav-link{
  margin-right: 1em !important;
}
.btn{
  margin-right: 1em !important;
}

.img-circle {
  width: 133px;
  height: 133px;
  border-radius: 50%;
}

.img-course {
  width: 275px;
  height: 155px;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.bg-dark{
  background-color:#343a40!important
}
.bg-primary{
  background-color:#343a40!important
}

.modules{
  margin: 3em;
  position: relative;
}
.modules h1{
  color:#110000;
  margin: 2em;
}
.bigimage{
  background-image: url('assets/img/pencils-1280558_960_720.jpg');
  background-size: cover;
  height: 550px;
  background-position: 50% 0px;
}
.menu{
  padding: 2em;
  background:#696969;
  padding-bottom: 50px;
  font-size: 25px;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-group {
  width: fit-content;
  margin: 0 auto;
}
.input-group {
  width: 100%;
}

.input-group label {
  color: #777;
  font-weight: normal;
  width: 100%;
  margin-bottom: 5px;
}

.personal-info h1 {
  margin: 65px 0 45px 0;
  font-size: 46px;
}

.picture {
  margin-top: 84px;
}

.my-page-head {
  color: white;
  margin-bottom: 130px;
}

.my-courses-list {
  width: 100%;
}
