/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: calc(100% - 50px);
}
.content {
  flex: 1 0 auto;
}
.fa{
  height: 16px;
  width: 16px;
}
.footers{
  flex: 0 0 auto;
}
.header{
   flex: 0 0 auto;
 }
.navbar{
  background:#696969;
  position: unset;
}

.nav-link{
  margin-right: 1em !important;
}
.btn{
  margin-right: 1em !important;
}

.navbar-collapse{
  justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.bg-dark{
  background-color:#343a40!important
}
.bg-primary{
  background-color:#343a40!important
}


.modules{
  margin: 3em;
  position: relative;
}
.modules h1{
  color:#110000;
  margin: 2em;
}
.bigimage{
  background-image: url('assets/img/pencils-1280558_960_720.jpg');
  background-size: cover;
  height: 550px;
  background-position: 50% 0px;
}
.menu{
  padding: 2em;
  background:#696969;
  padding-bottom: 50px;
  font-size: 25px;
}
.card-body{
  width: 1000px;
}
.card{
  position: center;
}
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-vk {
  background-color: #4d7198;
  color: #fff;
}
.btn-twitter {
  background-color: #1faee9;
  color: #fff;
}
.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-google{
  background-color: #d34836;
  color: #fff;
}
.form-group {
  width: fit-content;
  margin: 0 auto;
}
.input-group {
  width: 100%;
}



