/* You can add global styles to this file, and also import other style files */

.navbar{
  background:#696969;
}
.nav-link , .navbar-brand{
  color: #f4f4f4;
  cursor: pointer;
}
.nav-link{
  margin-right: 1em !important;
}
.btn{
  margin-right: 1em !important;
}
.nav-link:hover{
  background: #f4f4f4;
  color: #696969;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.bg-dark{
  background-color:#343a40!important
}
.bg-primary{
  background-color:#343a40!important
}


.modules{
  margin: 3em;
  position: relative;
}
.modules h1{
  color:#110000;
  margin: 2em;
}
.bigimage{
  background-image: url('assets/img/pencils-1280558_960_720.jpg');
  background-size: cover;
  background-position: center;
  height: 550px;
  background-position: 50% 0px;
}
.desc{
  padding: 2em;
  color:#FBFAFA;
  font-size: 50px;
  width: 80%;
  line-height: 1.5;
  text-align: center;
}
.menu{
  padding: 2em;
  background:#696969;
  padding-bottom: 50px;
  font-size: 25px;
}

