<header>
<app-header></app-header>
</header>

<div class="mainpage">
  <div class="overlay">
  <div class="container">
    <div class="description text-center">
      <h3><span style="color: #110000;">
        <h2>
          Hello, you are on the website of e-courses
        </h2>
        <p>
          You can choose for yourself courses in various areas
        </p>
        <button class="btn btn-outline-secondary">Go to courses</button>
      </span></h3>
    </div>
  </div>
  </div>
</div>



<div class="modules">
  <h1 class="text-center">Our advantages</h1>
  <div class="container">
    <div class="row text-box">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="https://s31333.cdn.ngenix.net/fd95ff/0191b89a/img/man.png" alt="">
        <h2>Distance learning</h2>
        <p>You can take our courses online, listen to lectures in real time, while at home</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="https://s31333.cdn.ngenix.net/fd95ff/0191b89a/img/zachetka.png" alt="">
        <h2>High quality</h2>
        <p>On our website you will receive a certificate for successful completion of courses</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="https://s31333.cdn.ngenix.net/fd95ff/0191b89a/img/books.png" alt="">
        <h2>Own schedule</h2>
        <p>You can create a convenient schedule for you, depending on your busyness</p>
      </div>
    </div>
  </div>
</div>


<div class="bigimage text-center">
  <div class="container">
    <div class="desc">Learning process<br> is ending, <br>
      but education<br>
      continues <br>
      all life
    </div>
  </div>
</div>

<app-footer></app-footer>
