<header>
<app-header></app-header>
</header>

<div class="mainpage">
  <div class="overlay">
  <div class="container">
    <div class="description text-center">
      <h3><span style="color: #110000;">
        <h2>
          Здравствуйте, вы находитесь на сайте онлайн-курсов
        </h2>
        <p>
          Вы сможете подобрать для себя курсы по различным направлениям
        </p>
        <button class="btn btn-outline-secondary">Перейти к курсам</button>
      </span></h3>
    </div>
  </div>
  </div>
</div>



<div class="modules">
  <h1 class="text-center">Наши преимущества</h1>
  <div class="container">
    <div class="row text-box">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="https://s31333.cdn.ngenix.net/fd95ff/0191b89a/img/man.png" alt="">
        <h2>Дистанционное обучение</h2>
        <p>Вы можете проходить наши курсы онлайн, слушать лекции в режиме рального времени, находясь у себя дома</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="https://s31333.cdn.ngenix.net/fd95ff/0191b89a/img/zachetka.png" alt="">
        <h2>Высокое качество</h2>
        <p>На нашем сайте вы получите сертификат за успешное прохождение курсов</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="https://s31333.cdn.ngenix.net/fd95ff/0191b89a/img/books.png" alt="">
        <h2>Собственное расписание</h2>
        <p>Вы сможете составить удобное для вас расписание занятий, в зависимости от вашей занятости</p>
      </div>
    </div>
  </div>
</div>


<div class="bigimage text-center">
  <div class="container">
    <div class="desc">Процесс обучения <br>  заканчивается, <br>
      но образование <br>
      продолжается <br>
      всю жизнь
    </div>
  </div>
</div>

<app-footer></app-footer>
