<div class="wrapper">
  <div class="content" >
    <div *ngIf="course">
      <h2>{{course.title}}</h2>
      <p>{{course.description}}</p>
      <p>{{course.professorId}}</p>
      <div class="resources">
        <button class="button btn-info" *ngIf='showFile' (click)='showFiles(false)'>Hide Resources</button>
        <button class="button btn-info" *ngIf='!showFile' (click)='showFiles(true)'>Show Resources</button>
        <div [hidden]="!showFile">
          <div class="panel panel-primary">
            <div class="panel-heading">List of Files</div>
            <div *ngFor="let file of course.resources">
              <div class="panel-body">
                <a href="{{file.url}}"> {{file.title}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isAuthor()">
      <a class="siteLink" routerLink="edit">Edit Course</a>
    </div>

  </div>
</div>
