<div class="wrapper">
  <div class="background-poster">
    <div class="overlay"></div>
  </div>
  <div class="content">
    <div *ngIf="course && user">
      <div class="row head">
        <div class="col-md-8 col-sm-12">
          <h1 class="course-title">{{course.title}}
          </h1>
        </div>
        <div class="col-sm-6 col-md-4">
          <img *ngIf="course.url!=null; else standartCourseImg" src="{{course.url}}" class="img-course">
          <ng-template #standartCourseImg>
            <img src="../../../assets/img/notebook-1587525_960_720.jpg" class="img-course">
          </ng-template>
        </div>
        <div class="col-md-4 col-sm-6 advansed-info course-date">
          <span class="fa fa-calendar"></span>
          {{course.startDate|date:'mediumDate'}} - {{course.endDate|date:'mediumDate'}}

          <div class="course-status" *ngIf="course.started; else notStarted">
            Course already started
          </div>
          <ng-template #notStarted>
            <div class="course-status">
              Course is not started
            </div>
          </ng-template>
        </div>
        <div class="col-md-4 col-sm-6 advansed-info course-date">
          <div class="course-date" *ngIf="!course.started; else alreadyStarted"><span>{{dateDif()}} days</span>
            <div class="course-status">Time to join</div>
          </div>
          <ng-template #alreadyStarted>
            <span class="course-status">Course started</span>
          </ng-template>
        </div>
        <div class="col-md-4 col-sm-6 advansed-info">
          <div *ngIf="!course.join && !course.author&& !course.started">
            <button class="btn btn-primary" (click)="joinTo()">Join</button>
          </div>
          <div *ngIf="course.author || (course.join && course.started)">
            <button class="btn btn-primary" data-toggle="modal"
                    data-target="#course-resources-modal">Show resources
            </button>
          </div>
        </div>
      </div>

      <div class="row course-descr">
        <div class="col-sm-8 issue">
          <h2>About</h2>
          <p>{{course.description}}</p>
        </div>
        <div class="col-sm-4">
          <div class="card card-professor">
            <div *ngIf="user.url; else standartImg">
              <a routerLink="/user/{{course.professorId}}">
                <img src="{{user.url}}" class="img-circle">
              </a>
            </div>
            <ng-template #standartImg>
              <a routerLink="/user/{{course.professorId}}">
                <img src="../../../assets/img/noavatar.png" class="img-circle">
              </a>
            </ng-template>
            <h3><a id="authorLink" routerLink="/user/{{course.professorId}}">{{professor}}</a>
            </h3>
            <p>
              <span class="comment">University: </span>
              {{user.university}}<br>
              <span class="comment">Contact details: </span>
              {{user.email}}
            </p>
            <div *ngIf="course.author">
              <div class="course-edit">
                <a class="siteLink" routerLink="edit">Edit Course</a>
              </div>
              <a class="siteLink" routerLink="manage">Manage</a>
            </div>
          </div>
        </div>
      </div>
      <app-course-resources [topics]="course.topics" [test]="course.test"></app-course-resources>
    </div>
  </div>
</div>


