<div class="wrapper">
  <div class="content">

      <form [formGroup]="userEditForm" (ngSubmit)="onSubmit()">

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div *ngIf="f.url.value!=null; else standartImg">
            <img align="center" src="{{f.url}}" class="img-circle">
          </div>
          <ng-template #standartImg>
            <img align="center" src="../../../assets/img/noavatar.png" class="img-circle">
          </ng-template>
          <p>change photo:</p>

          <input style="display: none"
                 type="file"
                 (change)="selectFile($event)"
                 #fileInput>
          <button type="button" (click)="fileInput.click()">Choose</button>
          <div *ngIf="f.url.value !== null">
            <button type="button" class="btn btn-secondary" (click)="deleteFile()">Delete</button>
          </div>
          <img [src]="url" height="200" *ngIf="show"> <br/>
        </div>

        <div class="form-group input-group">
          <input type="text" formControlName="username"
                 class="form-control"
                 placeholder="Username"
                 id="username"
          />
        </div>
        <div class="form-group input-group">
          <input type="text" formControlName="firstName" class="form-control"
                 id="firstName"
                 placeholder="First name"/>
        </div>
        <div class="form-group input-group">
          <input type="text" formControlName="lastName" class="form-control"
                 id="lastName"
                 placeholder="Last name"/>
        </div>
        <div class="form-group input-group">
          <input type="text" formControlName="email" class="form-control"
                 id="email"
                 placeholder="Email"
                 [ngClass]="{ 'is-invalid': f.email.errors && (submitted ||f.email.touched)}"/>
          <div *ngIf=" f.email.errors && (submitted ||f.email.touched)" class="invalid-feedback">

          </div>
          <div *ngIf="f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.pattern">
              The email is not valid
            </div>
          </div>
        </div>
        <div class="form-group input-group">
          <input type="password" formControlName="password" class="form-control"
                 id="password"
                 placeholder="Password"
                 [ngClass]="{ 'is-invalid':  f.password.errors && (submitted ||f.password.touched)}"/>
          <div *ngIf="f.password.errors && (submitted ||f.password.touched)" class="invalid-feedback">
            <div *ngIf="f.password.errors.pattern">
              Password must be at least 8 characters, one number and one uppercase letter
            </div>
          </div>
        </div>
        <div class="form-group input-group">
          <input type="text" formControlName="university" class="form-control"
                 id="university"
                 placeholder="University"/>
        </div>
        <div class="form-group input-group">
          <input type="text" formControlName="briefInformation" class="form-control"
                 id="briefInformation"
                 placeholder="Brief information"/>
        </div>


        <div class="form-group" style="margin-top: 20px">
          <button type="submit" class="btn btn-primary"> Update </button>
          <button class="btn btn-secondary" routerLink="">Cancel</button>
        </div>
      </form>
  </div>
</div>
