<div class="header">
<nav class="navbar navbar-light navbar-expand-md navbar-fixed-top">
<a class="navbar-brand"  href="#">
  <img src="../../../assets/img/elearning1.png" height="40">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" n>
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id = "navbarNav" >
  <ul class="navbar-nav mr-4">
    <li class="navbar-item">
      <a routerLink="/courses/all" class="nav-link">Courses</a>
    </li>
    <li *ngIf="auth" class="navbar-item">
      <a routerLink="my" class="nav-link">Dashboard</a>
    </li>
    <li class="navbar-item" >
    <div *ngIf="auth===false; else other">
    <a class="btn btn-primary" routerLink="/login" role="button" aria-pressed="true">Sign in</a>
    <button type="button" routerLink="/signup" class="btn btn-outline-light">Sign up</button>
    </div>
    <ng-template #other>
      <div>
      <a [routerLink]="['/user',id]" class="nav-link">My page</a>
      </div>
    </ng-template>
    </li>
    <li *ngIf="auth===true; else hidden">
      <a routerLink="" (click)="logout()" class="nav-link">logout</a>
    </li>
  </ul>
</div>
</nav>
</div>
