<nav class="navbar navbar-expand-md fixed-top">
<a class="navbar-brand" href="#">Logotip</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id = "navbarNav" >
  <ul class="navbar-nav mr-4">
    <li class="navbar-item">
      <a routerLink="/courses/all" class="nav-link">Courses</a>
    </li>
    <li class="navbar-item">
      <a href="#" class="nav-link">About us</a>
    </li>
    <li class="navbar-item">
      <a href="#" class="nav-link">FAQ</a>
    </li>
    <a class="btn btn-primary" routerLink="/login" role="button" aria-pressed="true">login</a>
    <button type="button" routerLink="/registration" class="btn btn-outline-light">register</button>
  </ul>
</div>
</nav>
