<div class="wrapper">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content">
    <div *ngIf="user">
      <p>{{user.lastName}}</p>
      <p>{{user.firstName}}</p>
      <p>{{user.username}}</p>
      <p>{{user.email}}</p>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div *ngIf="user.url; else standartImg">
        <img align="center" src="{{user.url}}" class="img-circle">
        </div>
        <ng-template #standartImg>
        <img align="center" src="../../../assets/img/noavatar.png" class="img-circle">
        </ng-template>
      </div>
      <div *ngIf="authorized()">
      <a class="siteLink" routerLink="edit">Edit profile</a>
      </div>
    </div>
    <div *ngIf="professor===true">
      <a class="siteLink" routerLink="/courses/create">Create course</a>
    </div>

  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>

