<div class="wrapper">
  <div class="content">
    <div *ngIf="user">
      <div *ngIf="isConfirmed()">
        <p align="center">
          <strong>
          To confirm your account, please follow the link in the mail
          </strong>
        </p>
      </div>
      <div class="row">

        <div class="col-md-12 ">
          <div *ngIf="user.url; else standartImg">
            <img align="center" src="{{user.url}}" class="img-circle">
          </div>
          <ng-template #standartImg>
            <img align="center" src="../../../assets/img/noavatar.png" class="img-circle">
          </ng-template>
          <h1>
            {{user.lastName}} {{user.firstName}}
          </h1>
          <br>
          <p>
            <span class="comment">University: </span>
            {{user.university}}<br>
            <span class="comment">Contact details: </span>
            {{user.email}}
          </p>

        </div>
        <div class="col-md-8 ">
          {{user.briefInformation}}
        </div>
        <div class="col-md-4">
            <div class="change-buttons" *ngIf="authorized()">
              <button type="button" class="btn btn-primary" routerLink="edit" style="width: 123px;">Edit profile
              </button>
            </div>
            <div class="change-buttons" *ngIf="professor===true">
              <button type="button" class="btn btn-primary" routerLink="/courses/create">Create course</button>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

