<div class="wrapper">
  <div class="content">
    <div class="card bg-light">
      <article class="card-body mx-auto">
        <h4 class="card-title mt-3 text-center">Create Course</h4>

        <form [formGroup]="courseCreateForm" (ngSubmit)="onSubmit()">


          <div class="form-group input-group">
            <div class="courseTitle">
              <label for="name_course"><h4>Course title:</h4></label>
              <textarea
                type="text"
                formControlName="title"
                class="form-control"
                id="name_course"
                rows="1"
                [ngClass]="{ 'is-invalid': f.title.errors && (submitted ||f.title.touched) }">
              </textarea>
              <div *ngIf=" f.title.errors && (submitted ||f.title.touched)" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">
                  Title is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group input-group">
            <div class="title">
              <label for="description">Description:</label>
            </div>
            <div class="CourseDescription">
              <textarea type="text" formControlName="description" class="form-control"
                        id="description"
                        placeholder="Description"
                        maxlength="255"
                        rows=5></textarea>
            </div>
          </div>
          <br>
          <p>Select course duration</p>
          <div class="form-group input-group">
            <label for="date">Select start date:</label>
            <input type="datetime-local" formControlName="startDate"
                   class="form-control"
                   id="date"
                   [ngClass]="{ 'is-invalid': f.startDate.errors && (submitted ||f.startDate.touched) }">
            <div *ngIf=" f.title.errors && (submitted ||f.title.touched)" class="invalid-feedback">
              <div *ngIf="f.title.errors.required">
                Start date is required
              </div>
            </div>
          </div>
            <div class="form-group input-group">
            <label for="endDate">Select end date:</label>
            <input type="datetime-local" formControlName="endDate"
                   class="form-control"
                   id="endDate"
                   [ngClass]="{ 'is-invalid': f.endDate.errors && (submitted ||f.endDate.touched) }">
            <div *ngIf=" f.title.errors && (submitted ||f.title.touched)" class="invalid-feedback">
              <div *ngIf="f.title.errors.required">
                End date is required
              </div>
            </div>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <button type="submit" class="btn btn-primary"> Create</button>
            <button class="btn btn-secondary" routerLink="">Cancel</button>
          </div> <!-- form-group// -->
        </form>
      </article>
    </div> <!-- card.// -->
  </div>
</div>
