<div class="wrapper">
  <div class="content">

    <h2>{{course.title}}</h2>
    <p>{{course.description}}</p>

    <div class="resources">
        <ul *ngFor="let file of course.topics">
          <li>{{file.title}}</li>
          <ul>
            <li *ngFor="let res of file.courseResources">
                <a href="{{res.url}}"> {{res.title}}</a>
              <button class="delete" title="delete resource"
                      (click)="deleteResource(res)">x
              </button>
            </li>
            <button type="button" (click)="info(file.id)"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              attach files
            </button>

          </ul>
        </ul>
      <a (click)="onClickOpenForm()" class="btn-link" style="cursor: pointer">Add topic</a>
      <div [hidden]="!openForm" >
        <input type="text"
              placeholder="Topic title"
               class="form-control"
               [formControl]="topicTitle"
              />
        <button type="submit" class="btn-primary" (click)="saveTopic()">
          Save
        </button>
      </div>
      </div>
    </div>
  <app-download-resource [topic]="topicTtl"></app-download-resource>
  </div>
