<div class="wrapper">
  <div class="content">

      <h2>{{course.title}}</h2>
      <p>{{course.description}}</p>
      <div class="resources">
          <div class="panel panel-primary">
            <div class="panel-heading">List of Files</div>
            <div *ngFor="let file of course.resources">
              <div class="panel-body">
                <a href="{{file.url}}"> {{file.title}}</a>
                <button class="delete" title="delete resource"
                        (click)="deleteResource(file)">x</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>

